$colors: (
    primary: hsl(179 100% 50%)
    primary-op: 179 100% 50% / 0.1,
    gray: 219 14% 71%,
    gray-op: 219 14% 71% / 0.1,
    background: 0 0% 0%,
    white: 0 0% 100%,
);


$desktopScreen: 1024px;
$tabletScreen: 768px;
$mobileScreen: 500px;


